body {
    background-image: url('img/layout_Inicial.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#menu {
    margin-left: 50em;
}

#logotipo {
    margin-left: 0.4em;
    width: 218px;
    height: 55px;
}

#fundo {
    background-color: rgba(0, 0, 0, 0.795);
    border-bottom: 1px solid white;
}

#btn {
    margin-left: 10%;
}

.nav-link {
    margin-right: 5%;
}

.circulo {
    width: 210px;
    height: 210px;
    background-color: rgba(255, 255, 255, 0.63);
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 56%;
    left: 82%;
    transform: translate(-50%, -50%);
    
}

#pesquisa {
    font-weight: bold;
    font-size: 2.0em;
    margin-left: 17%;
    margin-top: 32%;
}

.teste {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn1 {
    display: flex;
    position: relative;
    width: 150px;
    height: 55px;
    border-radius: 7px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 140%;
}

.btn1::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: conic-gradient(#121212, #595959);
    animation: efeito 1.3s ease infinite;
    transition: 1s ease;
}

@keyframes efeito {
    100%{
        transform: rotate(360deg);
    }
}
.container:hover .btn1::before{
    background: #595959;
}
#btn2{
    position: absolute;
    z-index: 1;
    display: block;
    width: 147px;
    height: 52px;
    background: #121212;
    text-align: center;
    line-height: 52px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
}

#seta {
    color: black;
    font-weight: 570;
    font-size: 5.5em;
    padding-bottom: 70%;
    margin-left: 35%;
}

.flutuando{
    position: absolute;
    transform: translate(-50%, -50%);
}
.mexendo {
    width: 300px;
    height: 200px;
    margin-top: 10%;
    margin-left: 100em;
    animation: flutuacao 10s
    ease-in-out infinite;
}
@keyframes flutuacao {
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
}

.efeito {
    text-decoration: none;
    font-size: 64px;
    color: #14fff1;
    display: inline-block;
    border: 8px solid #14fff1;
    padding: 16px 64px;
    text-shadow: 0 0 8px rgba(255, 255, 255);
    border-radius: 16px;
    box-shadow: inset 0 0 32px #14fff1, 0 0 32px #14fff1;
    position: relative;
}
.efeito::before {
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #14fff1;
    left: 0;
    top: 120%;
    transform: perspective(64px) rotateX(40deg) scale(1, 0.35); filter: blur(64px);
    opacity: 0.7;
}

.efeito::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #14fff1;
    box-shadow: 0 0 128px 32px #14fff1;
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms linear;
}

.efeito:hover::after,
.efeito:focus::before {
    opacity: 1;
}

.efeito:hover::before,
.efeito:focus::before {
    opacity: 1;
}
.efeito:hover,
.efeito:focus {
    color: #fff;
    text-shadow: none;
}

span{
    color: white;
    font-weight: bold;
    font-size: 5.5em;
}

.sobre{
    color: white;
    text-align: center;
    padding-right: 53%;
    padding-top: 12%;
    padding-left: 8%;
    border: 50% white;
}


@keyframes spin {
    /* X para espaço 3D ou Y */
    from { transform: rotateY(0deg);}
    to { transform: rotateY(360deg);}
}
/*apenas girar se passar o cursor* .spinning:hover*/
.spinning{
    animation: spin 5s infinite;
}
#lua{
    width: 200px;
    height: 200px;
    margin-left: 52%;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
}

.container .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content{
    transform: translate(0px);
    opacity: 1;
}

.container .card .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.005);
    pointer-events: none;
}

.container .card .content h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.container .card .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
